<div class="container">
  <h1>{{ title }}</h1>
  <hr />
  <div class="row">
    <div *ngFor="let movie of data" class="col-4">
      <div class="card mb-5">
        <img class="card-img-top" [src]="movie.imageUrl" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <button
            [disabled]="selected && !isSelected(movie.id)"
            (click)="toggleSelect(movie.id)"
            class="btn btn-primary"
          >
            {{ isSelected(movie.id) ? "Unselect" : "Select" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
